<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title >@ViewData["PageTitle"]</title>
</head>
<body>
    @{
        var employee = ViewData["employee"] as EmployeeManagement.Models.Emploeey;

    }

    <h1>@ViewData["PageTitle"]</h1>
    <div>
        Name : @employee.Name
        </div>
    <div>
    Email : @employee.Emil

    </div>
    <div>
    
        Department: @employee.Department
    </div>
</body>
</html>